*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --hit-indicator: white;
    --winner-main-color: blue;
    --winner-border-color: rgb(82, 126, 208);
    --winnner-background-color: rgb(188, 221, 238);
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-ali{
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
    background-image: url(".//img/favicon.png");
    background-size: cover;
    justify-content: space-between;
}

.title {
    margin-top: 2vh;
    color: white;
}

.title h1 {
    font-size: 75px;
    color: rgba(0, 0, 0, 0.612);
}


/*DIALOG SECTION*/
dialog {
    margin: 15% auto;
    width: max(40%, 400px);
    height: 350px;
    padding: 30px;
    z-index: 999;
    opacity: 0;
    border-radius: 10px;
    border: 10px double var(--winner-border-color);
    background-color: var(--winnner-background-color);
}

dialog.fire {
    --winner-main-color: rgb(161, 3, 3);
    --winner-border-color: rgb(250, 112, 112);
    --winnner-background-color: rgb(250, 176, 96);
}

.main-body, .main-content {
    justify-content: center;
    justify-content: center;
    gap: 45px;
}

dialog img {
    margin-top: 10px;
    width: 200px;
    height: 150px;
    top: 0px;
    right: 0px;
    border: 5px solid var(--winner-border-color);

}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4); 
}

dialog h1{
    margin: 0px auto 30px auto;
    position: relative;
    width: fit-content;
    color: var(--winner-main-color);
}

dialog, dialog h1::after{
    transition: 1000ms;
}

dialog h1::after {
    content: "";
    display: block;
    background-color: black;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

dialog[open] {
    opacity: 1;
}

dialog[open] h1::after{
    width: 100%;
}


.main-content{
    padding: 30px;
    height: 100%;
}

.boards-section, .start-buttons {
    gap: 30px;
}

button, .board div {
    cursor: pointer;
}

.log-attack{
    display: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 75%;
    margin:auto;
    outline: 4px solid rgba(20, 147, 245, 0.47);
    border: 2px solid black;
}

.log-attack.show{
    display: block;
}

.log-attack p{
    text-transform: uppercase;
    font-weight: bolder;
}

.start-buttons{
    justify-content: center;
}

.start-buttons.hide{
    display: none;
}

.start-buttons button{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-weight: bolder;
    transition: 300ms;
}

.start-buttons button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
}

.name {
    font-size: 18px;
    margin-bottom: 20px;
}

#computer-name h2 {
    color: rgb(255, 1, 1);
}

#player-name h2 {
    color: rgb(0, 221, 255);
}

.board{
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.board div{
    display: grid;
    place-items: center;
    border: 2px solid gray;
    font-size: 30px;
    padding: 0px;
    background-color: var(--hit-indicator);
}

.board div.no-hit{
    opacity: 0.9;
}


.board div:hover, .miss{
    --hit-indicator: grey;
}

#fire-nation-board.active .ability-visible, .ability-visible.hit{
    --hit-indicator: red;
}


.visible {
    --hit-indicator: blue;
}

.sunk {
    --hit-indicator: purple;
}

.player-section, .computer-section {
    position: relative;
}

.player-section.game, .computer-section.game {
    padding-bottom: 10px;
}

#fire-ability, #water-ability {
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -8%;
    left: 0px;
    visibility: hidden;
}

.game #fire-ability, .game #water-ability {
    visibility: visible;
    opacity: 0.5;
}

#fire-ability{
    background-image: url("./img/fire-ability.webp");
}

#water-ability{
    background-image: url("./img/water-ability.webp")
}