*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --hit-indicator: white;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-ali{
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
    background-image: url(".//img/favicon.png");
    background-size: cover;
    justify-content: space-between;
}

.title {
    margin-top: 5vh;
}

/*DIALOG SECTION*/
dialog {
    width: 30vw;
    height: 25vw;
    margin: auto;
    z-index: 9999;
}

.main-content{
    padding: 30px;
    height: 100%;
    justify-content: center;
    gap: 60px;
}

.boards-section, .start-buttons {
    gap: 30px;
}

button, .board div {
    cursor: pointer;
}

.start-buttons{
    justify-content: center;
}

.start-buttons button{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-weight: bolder;
    transition: 300ms;
}

.start-buttons button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
}

.name {
    font-size: 18px;
    margin-bottom: 20px;
}

.board{
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.board div{
    display: grid;
    place-items: center;
    border: 2px solid gray;
    font-size: 30px;
    padding: 0px;
    background-color: var(--hit-indicator);
}

.board div.no-hit{
    opacity: 0.9;
}


.board div:hover, .miss{
    --hit-indicator: grey;
}
#computer-board.active .ability-visible{
    --hit-indicator: red;
}


.hit, .visible {
    --hit-indicator: blue;
}

.sunk {
    --hit-indicator: purple;
}

.player-section, .computer-section {
    position: relative;
}

.player-section.game, .computer-section.game {
    padding-bottom: 60px;
}

#fire-ability, #water-ability {
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    visibility: hidden;
}

.game #fire-ability, .game #water-ability {
    visibility: visible;
}

#fire-ability{
    background-image: url("./img/fire-ability.webp");
}

#water-ability{
    background-image: url("./img/water-ability.webp")
}