*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-ali{
    align-items: center;
}

body {
    text-align: center;
    justify-content: space-around;
    height: 100vh;
}


/*DIALOG SECTION*/
dialog {
    width: 30vw;
    height: 25vw;
    margin: auto;
    z-index: 9999;
}

.main-content, .boards-section {
    gap: 30px;
}

.name {
    font-size: 18px;
    margin-bottom: 20px;
}

.board{
    width: 30vw;
    height: 30vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.board div{
    display: grid;
    place-items: center;
    border: 2px solid gray;
    font-size: 30px;
    padding: 0px;
    background-color: var(--hit-indicator);
}

.board div.no-hit{
    opacity: 0.5
}

.board div:hover{
    background-color: grey;
}

.miss {
    --hit-indicator: red;
}

.hit, .visible{
    --hit-indicator: blue;
}

.sunk {
    --hit-indicator: purple;
}